.dialog {
	height:auto;
	display:block;
	position:absolute;
	width:357px;
}

.dialogheader {
	display:block;
	position:relative;
	width:100%;
	padding-top:8px;
	padding-left:8px;
	padding-right:8px;
	background-image: url(dlg_t_1.png);
	background-repeat: no-repeat;
}

.dialogbody {
	display:block;
	position:relative;
	width:100%;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:8px;
	background-image:url(dlg_bg_1.png);
	background-repeat: repeat-y;
}

.dialogfooter {
	display:block;
	position:relative;
	width:100%;
	background-image: url(dlg_b_1.png);
	background-repeat: no-repeat;
	background-position:bottom left;
	padding-left:8px;
	padding-right:8px;
	height:8px;
}

.dialogbuttons {
	display:block;
	position:relative;
	height:20px;
	padding-top:10px;
	list-style: none;
}

 .dialogbuttons ul {
	display:inline;
	width:auto;
  	list-style: none;
 }
 
 .dialogbuttons  li {
	float:left;
	cursor:pointer;
	margin-right:4px;
	text-align: center;
}

.dialogdraggable {
	cursor:move;
	width:355px;
}

.dialogdraggable .dialogheader {
	height:22px;
	line-height:22px;
	color:#404040;
	padding-top:0px;
	background-image: url(dlg_lg_t_1.png);
}
.dialogdraggable .dialogbody {
	background-image: url(dlg_lg_bg_1.png);
}
.dialogdraggable .dialogfooter {
	height:13px;
	background-image: url(dlg_lg_b_1.png);
}

.dialogiframebody {
	border:0px;
	width:331px;
	height:300px;
}

.dialogdraggable .dialogheader .closebutton {
	background:transparent url(mod_cls_btn_nrm_2.png) no-repeat;
	width:14px;
	height:14px;
	position:absolute;
	display:block;
	right:28px;
	top:4px;
	cursor:pointer;
}

.statusdialog {
	width:232px;
	font-variant:small-caps;
}
.statusdialog .dialogheader {
	height:75px;	
	background-image: url(dlg_sav_t_1.png);
}
.statusdialog .dialogbody {	
	background-image: url(dlg_sav_t_1.png);
	background-position:top left;
}
.statusdialog .dialogfooter {
	height:8px;
	background-image: url(dlg_sav_b_1.png);
}
.dialogwaitmsg  {
	color:#A4A4A4;
	display:block;
	font-size:23px;
	font-weight:bold;
	left:32px;
	padding-left:22px;
	padding-top:8px;
	position:relative;
	top:16px;
	background:transparent url(logo_ani_1.gif) no-repeat;
	background-position:0px 0px;
}


.dialogheader h1 {
	font-weight:bold;
	font-size:107%;
}

.dialogheader .dialogsaveinput {
	width:331px;
}

.savedialog .dialogbuttons {
	margin-top:4px;
	padding-bottom:8px;
}

html body {
	height:100%;
	width:100%;
	text-align: left;
}

.menubar {
	position:relative;
	display:block;
	width:100%;
    z-index:1;
    background-color:white;
}

.editcontainer {
    position: relative;
    display:block;
    top:0px;
    left:0px;
    height: auto;
    width: 100%;
    background: transparent url(grd8_bg_1.gif);
    background-repeat: repeat; 
    overflow: auto;
    z-index: 0;
}

.pipetabs img {
	margin-top:2px;
	margin-left:4px;
	vertical-align:bottom;
}

.editbuttons {
	position:relative;
	display:block;
	left:0px;
	width:100%;
	height:27px;
	padding-left:4px;
	padding-right:4px;
	background: white url(tlbr_bg_1.gif);
	background-repeat: repeat-x;
	background-position:bottom right;
}

.editbuttons ul {
	list-style-type: none;
}

.editbuttons ul.leftset {
	width:auto;
	display:inline;
}
.editbuttons ul.rightset {
	display:block;
	position:absolute;
	right:8px;
	top:0px;
}
/*.editbuttons ul li {
	display:inline;
}*/

.mod {
	position:absolute;
	z-index: 5;
	cursor: move;
}

.mod {
   /*max-width:600px;  based on bg img size */
/*   width:30em; IE needs this? */
   width:auto;
   text-align:left; /* to correct remnants of grids.css */
}

.mod .bd .inner {
  /* max-height:500px; based on bg img size, keep corners from showing */
   overflow:none;
   width:auto;
}

/* put box properties on inner */
.mod .inner {padding:3px 0 3px 2px;} 
.mod .hd .inner {padding-bottom:0;}
.mod .bd .inner {padding-top:4px;padding-bottom:1px}
.mod .ft .inner {padding-top:3px;}
/* image specific - edit these */

.mod .hd, .mod .bd, .mod .ft, .mod .inner {
	background:transparent url(mod_blu_bg_2.png) no-repeat;
}

.mod .content {padding-right:5px;} /* based on corner radius, account for inner offset */
.mod .inner {left:-3px;} /* based on corner radius, to obscure outer edges natek: was -8*/
.mod .inner, .mod .hd, .mod .bd, .mod .ft {right:-5px;}/* recover some "padding" from the offsets */

/* required for rounded corners - shouldn't need to edit below */
.mod .inner, .mod .hd, .mod .bd, .mod .ft {position:relative;zoom:1;}

.mod .hd {background-position:right top;height:18px;}
.mod .hd .inner {background-position:left top;padding-top:0px;line-height:18px;height:18px;}
.mod .bd {background-position:right center;}
.mod .bd .inner {background-position:left center;}
.mod .ft {background-position:right bottom}
.mod .ft .inner {background-position:left bottom}

/*.mod .bd {background-position:right bottom;}
.mod .bd .inner {background-position:left bottom;}*/

div.content {
	position:relative;
	zoom:1;
	width:auto;
}


/* 7-10 Split */
/*.hd h1 {margin-right:3.5em;text-align:left;color:black;}*/
.hd ul {position:absolute;top:3px;right:1px;cursor:pointer;}
.hd ul li {display:block;float:left;width:12px; height:12px; cursor:pointer;margin-left:2px;}
.hd .buttons li.help {background:transparent url(mod_hlp_btn_nrm_2.png) no-repeat;}
.hd .buttons li.close {background:transparent url(mod_cls_btn_nrm_2.png) no-repeat;}
.hd .buttons li.show {background:transparent url(mod_min_btn_nrm_2.png) no-repeat;}
.hd .buttons li.hide {background:transparent url(mod_max_btn_nrm_2.png) no-repeat;}

.hd .inner .title {
	display:block;
	line-height:20px;
	margin-right:52px;
	white-space: nowrap;
	overflow:hidden;
}

.moduleoutput .hd .inner .title {
	margin-right:0px;
}
/*
.hd .inner .customInput {
	display:inline;	
}*/

.opaque .module {
  	filter: alpha(opacity=80);
	opacity: 0.80;
}

.params  {
   /* padding-left:12px;*/
}

.module .hd .inner {
	padding-left:  8px;
	/*padding-top: 12px;*/
    /*font-weight: bold;*/
    min-width: 150px;
    font-size:100%;
}

.module .bd .inner {
	/*padding-top: 4px;*/
	padding-left:  8px;
}
.module .ft .inner {
	padding-left:  8px;
}

.horizontal {
    padding-bottom: 4px;
}

.horizontal label {
	width:40em;
}

.horizontal * {
    display: inline;
}

.hozindent {
	margin-left:5px;
}

/*.horizontal img {
    vertical-align: middle;
}*/

.horizonalft {
	padding-top:4px;
	padding-bottom:4px;
}

.horizonalft * {
	display:inline;
}

/*.module input[type='text'] {
    width: auto;
}*/

.module .horizontal select option {
	display : block;
}

.module .bd ul {
   /* border : 1px solid #dddddd;*/
    list-style: none;
    /*padding: 4px;
    margin-bottom: 4px;*/
}

.module .bd ul li.row {
    /*margin-bottom: 4px;
    border-bottom: 1px solid #dddddd;*/
}

.wiretool {
	position:absolute;
	top:0px;
	left:0px;
	white-space: nowrap;
	z-index:1050;
	background-color:transparent;
}

.wiretool span {
	position:relative;
	display:block;
	text-align: center;
	background-color:white;
	border:1px solid #808080;
  	filter: alpha(opacity=70);
	opacity: 0.7;
	font-size:80%;
	top:20px;
}
.wiretoolcut {
	position:absolute;
	display:block;
	width:26px;
	height:19px;
	margin-left:-10px;
	top:0px;
	left:50%;
	background: transparent url("mod_cut_1.png");
}
.wiretool * {
	vertical-align:bottom;
}

.inputterminal {
	position:relative;
}

.right {
    position: absolute;
    right: 0px;
}

/* MODULE INPUT */

.moduleinput .hd, .moduleinput .bd, .moduleinput .ft, .moduleinput .inner {background:transparent url(mod_inp_bg_1.png) no-repeat;} /* the image */

.moduleinput .hd {background-position:right top;}
.moduleinput .bd {background-position:right center;}
.moduleinput .ft {background-position:right bottom;}

/* MODULE OUPUT  */

.moduleoutput .hd, .moduleoutput .bd, .moduleoutput .ft, .moduleoutput .inner {
	background:transparent url(mod_inp_bg_1.png) no-repeat;
} /* the image */

.moduleoutput .hd {background-position:right top;}
/*.moduleoutput .hd .inner { padding-bottom:4px; text-align: center; padding-left:0px;}*/
.moduleoutput .bd {background-position:right center;}
.moduleoutput .ft {background-position:right bottom;}

/* MODULE SELECTED */

.moduleselected {
	z-index:800;
}
.moduleselect .hd, .moduleselect .bd, .moduleselect .ft, .moduleselect .inner {background:transparent url(mod_org_bg_2.png) no-repeat;} /* the image */
.moduleselect .hd {background-position:right top;}
.moduleselect .bd {background-position:right center;}
.moduleselect .ft {background-position:right bottom;}

.innermod .moduleselect .hd, .innermod .moduleselect .bd, innermod .moduleselect .ft, .innermod .moduleselect .inner {background:transparent url(mod_org_bg_2.png) no-repeat;} /* the image */
.innermod .moduleselect .hd {background-position:right top;}
.innermod .moduleselect .bd {background-position:right center;}
.innermod .moduleselect .ft {background-position:right bottom;}

/* MODULE LIB CONTENTS */
.librarymodules {
	position:relative;
	overflow:auto;
	overflow-x:hidden;
	height:100%;
	width:100%;
	cursor:default;
	zoom:1;
}

.librarymoduledragcontainer {
	position: absolute;
	visibility: hidden;
	cursor: move;
	z-index: 999;
}

/* MODULE PARAM ADD/DEL */
.paramadd {
		m: expression(
				this.onmouseover =  new Function("this.className = 'paramadd hover';"),
				this.onmouseout= new Function("this.className = 'paramadd';")
	);
}
.paramadd {
	cursor:pointer;
	background : url(lstadd_btn_nrm_2.png) no-repeat;
	vertical-align:middle;
}
.paramadd:hover, .paramadd.hover {
	background : url(lstadd_btn_hvr_2.png) no-repeat;
}
.paramdel {
		m: expression(
				this.onmouseover =  new Function("this.className = 'paramdel hover';"),
				this.onmouseout= new Function("this.className = 'paramdel';")
	);
}
.paramdel {
	cursor:pointer;
	vertical-align: middle;
	background : url(lstdel_btn_nrm_2.png) no-repeat;
}
.paramdel:hover, .paramdel.hover {
	background : url(lstdel_btn_hvr_2.png) no-repeat;
}

/* RSS TAB CONTENTS */


.rsspreview {
	position:relative;
	display:block;
	overflow:auto;
	width:100%;
	height:100%;
	cursor:default;
	background-color:rgb(240,239,238);
	zoom:1;
}

.rsspreview .rsspreviewtitle {
	position:relative;
}

.rsspreview .rsstable {
	width:100%;
	height:50%;
}

.rsspreview .rsstbody {
}

.rsspreview .rsstr {
	width:100%;
	height:100%;
}

.rsspreview .rsstd {
	width:100%;
	height:100%;
}

.rsspreviewtree {
	display:inline;
	/*position:relative;
	display:block;*/
	/*white-space: nowrap;*/
	/*width:100%;*/
	/*height:100%;*/
}

.rsspreview .itemcount {
	margin-left:8px;	
}

.rsspreview .timetaken span {
	font-weight: bold;
}

.refreshing {
	position:absolute;
	top:50%;
	left:50%;
	width:32px;
	height:32px;
	margin-left:-16px;
	margin-right:-16px;
	background: transparent url(logo_ani_1.gif) no-repeat;
}
.rsspreview .refresh {
	text-decoration: underline;
	color: blue;
	margin-left: 8px;
}
.rsspreview select {
	width:100%;	
}

/* PIPE INFO CONTENTS */

.pipeinfotab label {
	font-weight:bold;
	position:relative;
	display:block;
	padding-top:8px;
}

.pipeinfotab table {
	width:330px;
}

.pipeinfotab tr {
	width:100%;
}

.pipeinfotab td {
	width:100%;
}

.pipeinfotab textarea {
	width:100%;
}

.pipeinfotab .pipename input {
	width:100%;
}


.pipeinfotab .pipedesc * {
	vertical-align:top;
}


.instaSearch {
	position:relative;
	display:inline;
	background-color:white;
	width:200px;
	z-index: 900;
}

.instaSearchInput {
	width:100%;
}

.instaSearchMatches {
	width:100%;
}

.instaSearchMatches .yui-ac-content {
	border:1px solid red;
}

.instaSearchMatches li {
}

.instaSearchMatches .yui-ac-highlight .rssdescription {
	background-color: #FDE786; /*#D9AE50; //&lc=*/
}

/* ACCORDION */

.yahoo-accordion-container
{
	position: relative;
	width: 100%;
}

.yahoo-accordion-title-horiz
{
	position: relative;
	overflow: hidden;
	float: left;
	width: 100%;
}

.yahoo-accordion-content-clip-horiz
{
	position: relative;
	overflow: hidden;
	float: left;
	width: 100%;
}

.yahoo-accordion-content-horiz
{
	position: relative;
	width: 100%;
}

.yahoo-accordion-title-vert
{
	position: relative;
	overflow: hidden;
	width: 100%;
	cursor:hand;
	cursor:pointer;
	filter:none;
}

.yahoo-accordion-content-clip-vert
{
	position: relative;
	overflow: hidden;
	width: 100%;
    margin-bottom:3px;
    text-align: center;
}

.yahoo-accordion-content-vert
{
	display:block;
	overflow:hidden;
	position: relative;
	padding-right:2px;
	padding-left:16px;
	text-align: center;
}

/* OUR SPECIFIC ACCORDION STYLES */
.yahoo-accordion-title-vert
{
	font-weight: bold;
    text-align : left;	   
    text-indent: 16px;
    color:#17679f;
    width:100%; /* why?, we get 1 px over without */
}

.yahoo-accordion-title-vert.show {
	background:transparent url(nav_aro_r_1.png) no-repeat scroll 4px center;
}
.yahoo-accordion-title-vert.hide {
	background:transparent url(nav_aro_d_1.png) no-repeat scroll 2px center;
}

.terminallist {
	list-style: none;
	margin-right:44px;
}
.terminallist li {
	width: 4px;
	height:8px;
}
.terminallist .inside {
	position:relative;
	display:inline;
    height:100%;
    width:1px;
    top:0px;
    background-color: transparent;
}

.terminallist .terminal {
	position:relative;
	display:block;
}

/* reset horizontal effect for sub odules */

.moduleholder .horizontal {
	display:block;
}

/*
 .customInput .moduleholder div { 
	display:block;
} */


/*
.terminalholder .inside  {
	display:inline;
	position:relative;
	zoom:1;
	top:0px;
	left:0px;
	right:auto;
	bottom:auto;
	zoom:1;
}

.terminalholder {
	zoom:1;
}

.terminalholder .terminal .terminalrender {
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	right:auto;
	bottom:auto;
	width:20px;
	height:100%;
	margin:0;
	zoom:1;
}

.terminalholder .terminal .terminalrender.target {
	left:-8px;
	top:-8px;
	width:32px;
	height:32px;
}*/

/*
.terminalholder .terminal .terminalrender.target.over {
	display:block;
	position:absolute;
	left:-8px;
	top:-8px;
	width:32px;
	height:32px;
}*/


.mod .moduleholder {
	width:auto;
	height:auto;
	margin:2px 2px 0px 2px;
	vertical-align:middle;
	position:relative;
	display: block;
	right:3px;
}

/*.inside .terminalrender {
	display:block;
	position:relative;	
}*/




.innermod {
	font-weight:auto;
		width:auto;
		position:relative;
		display:block;
}
.innermod .hd, .innermod .bd, .innermod .ft, .innermod .inner {
	position:relative;
	display:block;
	background:transparent url(mod_blu_bg_2.png) no-repeat;
}
.innermod .inner, .innermod .hd, .innermod .bd, .innermod .ft {position:relative;zoom:1;}
.innermod .hd {background-position:right top; position:relative;display:block;}
.innermod .hd .inner {background-position:left top;position:relative;display:block;padding-top:0px;line-height:18px;}
.innermod .bd {background-position:right center;position:relative;display:block;}
.innermod .bd .inner {background-position:left center;position:relative;display:block;}
.innermod .ft {background-position:right bottom;position:relative;display:block;}
.innermod .ft .inner {background-position:left bottom;position:relative;display:block;}
.innermod .inner {padding:3px 0 3px 2px;} 
.innermod .hd .inner {padding-bottom:0;}
.innermod .bd .inner {padding-top:4px;padding-bottom:1px}
.innermod .ft .inner {padding-top:3px;}
.innermod .content {position:relative;display:block;}

.opaque .innermod {
  	filter: alpha(opacity=100);
	opacity: 1.00;
}

/*
.innermod .hd .inner .customInput {
	display:inline;	
}*/


/* rss results */
.rssresult {
	margin-top:4px;
}

.rsstitle {
	font-weight:bold;
	display:block;
	position:relative;
    cursor:move;
	
}
.rssurl {
	vertical-align:top;
	font-size:75%;
	font-weight:normal;
	display:inline;
}
.rssdescription {
	display:block;
	color: #404040;
	font-size: 80%;
}

.simpletree {
		font-family: "courier";
		font-weight:bold;
		padding-left:8px;
		height:100%;
}
.simpletree li {
	list-style:outside;
	list-style-type: none;
	list-style-image: none;
}

.simpletree li.branch {
	list-style-image: url("dbg_aro_d_nrm_1.gif");
}
.simpletree li.branch.closed {
	list-style-image: url("dbg_aro_r_nrm_1.gif");
}
.simpletree li.branch:hover {
	list-style-image: url("dbg_aro_d_hvr_1.gif");
}
.simpletree li.branch.closed:hover {
	list-style-image: url("dbg_aro_r_hvr_1.gif");
}
.simpletree ul {
	list-style-image: none;
	padding-left:8px;
}
.simpletree ul.root {
	padding-left:16px;
}
.simpletree ul.closed li {
	display:none;	
} 

.nv {
}
.nv .name {
	color:#202020;
	font-weight:normal;
}
.nv .value {
	font-weight: bold;
	padding-left:6px;
	color:#000080;
}
.nv .value.string {
	color:#800000;
}



.simpletooltip {
	font-size: 10px;
	padding:1px;
	border:1px solid #B98E30;
	background-color:#FFF998;
	z-index: 9999;
}

.dropinvitation {
	background: white url(grd8_bg_1.gif);
    background-repeat: repeat; 
	text-align:center;
	border:2px solid #a3a3a3;
	position:relative;
	display:block;
	color:#b3b6b2;
	font-size:22px;
	font-weight: bold;
	padding-top:20px;
	background-color:transparent;
	height:50px;
}

div.dropinvitation span {
	font-size:12px;
	color:#c0c0c0;
	display:block;
	position:absolute;
	width:100%;
	text-align: center;
	bottom:4px;
	left:0px;
}
	
.novalue {
	font-style: italic;
	color:#808080;
}


.taglist * {
	display:inline;
	width:auto;
}

.taglist ul {
	list-style:none;
}
.taglist li {
	line-height: 16px;
}
.taglist input {
	width:80px;
}

.taglist li {
	m: expression(
				this.onmouseover =  new Function("this.className = 'hover';"),
				this.onmouseout= new Function("this.className = '';")
	);
}
.taglist li img {
	m: expression(
				this.onmouseover =  new Function("this.className = 'hover';"),
				this.onmouseout= new Function("this.className = '';")
	);
}
.taglist li:hover img.add, .taglist li.hover img.add {
 	background: transparent url(lstadd_btn_nrm_1.gif) no-repeat; 
 	background-position:bottom left;
}
.taglist li:hover, .taglist li.hover {
	text-decoration: underline;
}
.taglist li:hover img.del, .taglist li.hover img.del {
 	background: transparent url(lstdel_btn_nrm_1.gif) no-repeat; 
 	 background-position:bottom left;
 }
 .taglist li img.add.hover, .taglist li img.add:hover {
 	background: transparent url(lstadd_btn_hvr_1.gif) no-repeat; 
 	background-position:bottom left;
}
.taglist li img.del.hover, .taglist li img.del:hover {
 	background: transparent url(lstdel_btn_hvr_1.gif) no-repeat; 
  	background-position:bottom left;
 }

.editorscontainer {
	width:100%;
	height:100%;
	display:block;
	position:relative;
	zoom:1;
}

.editor {
	display:block;
	position:relative;
	height:100%;
	width:100%;
	zoom:1;
}

 .pipetabs {
 	width:100%;
 	position:relative;
 	display:block;
 	background-color:rgb(236,236,236);
 	border-bottom:1px solid rgb(184,184,184);
 	height:32px;
 }
 
.pipetabsholder {
	display:block;
	position:absolute;
	left:90px;
	bottom:-1px;
}

.pipetabsul {
	list-style:none;
}

.pipeseditor {
	display:block;
	zoom:1;
	position:relative;
	width:100%;
	height:100%;
	font-size:93%;
}

 .inlineeditbuttons {
 	position:absolute;
 	display:block;
 	top:-2px;
 	left:100%;
 	width:200px;
 	padding-left:2px;
 	background-color:transparent;
 	z-index:10;
 }
 
  .inlineeditbuttons .menubigbutton {
  	line-height:20px;
  }
 .inlineeditbuttons ul {
	 display:inline;
	 width:auto;
  	list-style: none;
 }
 
 .inlineeditbuttons ul li {
 	float:left;
 	margin-left:2px;
}
 
.inlineedit {
	z-index:11;
}

.inlineedit input {
	background-color:cyan;
	/*background-color:#FFFFA3;*/
	border:1px inset rgb(233,233,174);
	display:block;
}

.invite {
	background-color:#FFFFD3;
}

.splitter.topbottom {
	left:0px;
	top:90%;
	width:100%;
	height:2px;
	background-color:rgb(212,212,212);
}

.splitter.topbottom.smalltopbottom {
	top:70%;
}

/*
.splitter.topbottom .sliderhoriz {
	position:absolute;
	display:block;
	left:50%;
	top:-5px;
	margin-left:-36px;
	width:73px;
	height:11px;
	background-image: url(sli_h_bg_1.gif);
	cursor: n-resize;
	cursor: row-resize;
}*/

.splitter.topbottom .sliderhoriz {
	position:absolute;
	display:block;
	left:0;
	width:100%;
	top:-5px;
	height:11px;
	background-image: url(sli_h_bg_1.gif);
	background-position: 50% 0px;
	background-repeat: no-repeat;
	cursor: n-resize;
	cursor: row-resize;
}

/*
.splitter.smalltopbottom .sliderhoriz {
	position:absolute;
	display:block;
	left:50%;
	top:-5px;
	margin-left:-15px;
	width:30px;
	height:11px;
	background-image: url(sli_h_sm_bg_1.gif);
	background-position: 5px 0px;
	background-repeat: no-repeat;
	cursor: n-resize;
	cursor: row-resize;
}*/

.splitter.smalltopbottom .sliderhoriz {
	position:absolute;
	display:block;
	margin-left:0px;
	left:0;
	top:-5px;
	width:100%;
	height:11px;
	background-image: url(sli_h_sm_bg_1.gif);
	background-position: 50% 0px;
	background-repeat: no-repeat;
	cursor: n-resize;
	cursor: row-resize;
}

.splitter.leftright {
	top:0px;
	left:150px;
	height:100%;
	width:2px;
	background-color:rgb(212,212,212);
}

/*
.splitter.leftright .slidervert {
	position:absolute;
	display:block;
	top:50%;
	right:-5px;
	width:11px;
	height:70px;
	background-image: url(sli_v_bg_1.gif);
	cursor: e-resize;
	cursor: col-resize;
}*/


.splitter.leftright .slidervert {
	position:absolute;
	display:block;
	top:0;
	right:-5px;
	width:11px;
	height:100%;
	background-image: url(sli_v_bg_1.gif);
	background-position: 0px 50%;
	background-repeat: no-repeat;
	cursor: e-resize;
	cursor: col-resize;
}

.horizbutton {
	position:absolute;
	display:block;
	width:16px;
	height:100%;
	left:50%; /*30px;*/
	margin-left:-7px;
	cursor: pointer;
}

.horizbutton.makemax {
	background-image: url(sli_h_max_1.png);
	background-position: 2px 3px;
	background-repeat: no-repeat;
}

.horizbutton.makemin {
	background-image: url(sli_h_min_1.png);
	background-position: 2px 3px;
	background-repeat: no-repeat;
}

.vertbutton {
	position:absolute;
	display:block;
	height:16px;
	width:100%;
	top:50%; /*28px;*/
	margin-top:-8px;
	cursor: pointer;
}

.vertbutton.makemax {
	background-image: url(sli_v_max_1.png);
	background-position: 2px 2px;
	background-repeat: no-repeat;
}

.vertbutton.makemin {
	background-image: url(sli_v_min_1.png);
	background-position: 2px 2px;
	background-repeat: no-repeat;
}

.leftset  li {
	float:left;
	cursor:pointer;
	margin-right:4px;
	text-align: center;
}
.rightset li {
	float:left;
	cursor:pointer;
	margin-right:4px;
	text-align: center;
}

.menusmallbutton {
	display:block;
	position:relative;
	background-image: url(tlbr_btn_sm_nrm.gif);
	background-repeat: no-repeat;
	background-position: center center;
	margin-left:4px;
	margin-right:4px;
	margin-top:4px;
	padding-left:8px;
	padding-right:8px;
	height:16px;
	font-size:92%;
	line-height: 16px;
	cursor:pointer;
}

.menusmallbuttonleft {
	background-image: url(tlbr_btn_sm_nrm.gif);
	position:absolute;
	display:block;
	left:-4px;
	top:0px;
	background-position: 0px 0px;
	width:4px;
	height:100%;
}
.menusmallbuttonright {
	background-image: url(tlbr_btn_sm_nrm.gif);
	position:absolute;
	display:block;
	width:4px;
	right:-4px;
	top:0px;
	background-position: right top;
	height:100%;
}
.menusmallbutton:hover {
	background-image: url(tlbr_btn_sm_hvr.gif);
}
.menusmallbutton:hover .menusmallbuttonleft {
	background-image: url(tlbr_btn_sm_hvr.gif);
}
.menusmallbutton:hover .menusmallbuttonright {
	background-image: url(tlbr_btn_sm_hvr.gif);
}

.menubigbutton {
	display:block;
	position:relative;
	background-image: url(tlbr_btn_lg_nrm.gif);
	background-repeat: no-repeat;
	background-position: center center;
	margin-left:4px;
	margin-right:4px;
	height:20px;
	margin-top:2px;
	padding-left:12px;
	padding-right:12px;
	font-size:107%;
	line-height: 22px;
	cursor:pointer;
}

.menubigbuttonleft {
	background-image: url(tlbr_btn_lg_nrm.gif);
	position:absolute;
	display:block;
	left:-4px;
	top:0px;
	background-position: 0px 0px;
	width:4px;
	height:100%;
}
.menubigbuttonright {
	background-image: url(tlbr_btn_lg_nrm.gif);
	position:absolute;
	display:block;
	width:4px;
	right:-4px;
	top:0px;
	background-position: right top;
	height:100%;
}
.menubigbutton:hover {
	background-image: url(tlbr_btn_lg_hvr.gif);
}
.menubigbutton:hover  .menubigbuttonleft {
	background-image: url(tlbr_btn_lg_hvr.gif);
}
.menubigbutton:hover .menubigbuttonright {
	background-image: url(tlbr_btn_lg_hvr.gif);
}

.disabled .menubigbutton {
	color:#808080;
	cursor:default;
	cursor:not-allowed;
}
.disabled .menusmallbutton {
	color:#808080;
	cursor:default;
	cursor:not-allowed;
}

.pipetab {
	float:left;
	cursor:pointer;
	text-align: center;
	font-size:107%;
	z-index:10;
}
.pipetabmain {
	display:block;
	position:relative;
	background-image: url(tab_un_bg_1.gif);
	background-repeat: repeat-x;
	background-position: left top;
	margin-left:8px;
	margin-right:0px;
	height:22px;
	line-height: 22px;
}
.pipetableft {
	background-image: url(tab_unun_aro_1.gif);
	position:absolute;
	display:block;
	top:0px;
	left:-8px;
	width:8px;
	background-position: left top;
	height:100%;
}
.pipetabright {
	background-image: none;
	position:absolute;
	display:none;
	top:0px;
	background-position: right top;
	height:100%;
}

.first .pipetabmain {
	background-image: url(tab_un_bg_1.gif);
	margin-left:1px;
	padding-left:8px;
}
.first .pipetableft {
	left:-1px;
	width:1px;
	display:block;
	background-image:none;
	background-color:rgb(200,200,200);
}
.first.only .pipetabmain {
	background-image: url(tab_sel_bg_1.gif);
	margin-right:3px;
	margin-left:3px;
	padding-left:16px;
	padding-right:16px;
}
.first.only .pipetabright {
	background-image: url(tab_sel_r_1.gif);
	width:3px;
	right:-3px;
	display:block;
}
.first.only .pipetableft {
	background-image: url(tab_sel_l_1.gif);
	background-color: transparent;
	width:3px;
	left:-3px;
	display:block;
}
.last .pipetabmain {
	background-image: url(tab_sel_bg_1.gif);
	margin-right:3px;
	padding-left:16px;
	padding-right:16px;
}
.last .pipetabright {
	background-image: url(tab_sel_r_1.gif);
	width:3px;
	right:-3px;
	display:block;
}
.last .pipetableft {
	background-image: url(tab_unse_aro_1.gif);
}

.searchholder {
	position:absolute;
	display:block;
	bottom:2px;
	right:4px;
}
.searchbar {
	position:relative;
	display:block;
	width:200px;
	height:20px;
}
.searchbar input[type="text"] {
	display:block;
	position:relative;
	width:173px;
	height:16px;
	padding-top:2px;
	padding-bottom:1px;
	padding-left:8px;
	border-left:0px;
	border-right:0px;
	border-top: 0px;
	border-bottom: 0px;
	background-image: url(srch_bg_nrm_3.gif);	
	background-position: top left;
	background-repeat:none;
}
.searchbar .search {
	display:block;
	position:absolute;
	width:20px;
	height:19px;
	right:0px;
	top:0px;
	background-image: url(srch_bg_nrm_3.gif);	
	background-repeat:none;
	background-position:top right;
}

.searchbar .search:hover {
	background-image: url(srch_bg_hvr_3.gif);
}

.searchMatches {
	width:173px;
	position:absolute;
	display:block;
	top:16px;
	left:0px;
	background-color:white;
	padding:2px;
	border:1px solid rgb(184,184,184);
	border-top:0px;
	z-index:4;
}
.searchMatches ul {
	position:relative;
	display:block;
	list-style: none;
	width:100%;
	bottom:auto;
	left:auto;
	top:auto;
	padding-bottom:2px;
	padding-left:2px;
	overflow:hidden;
}
.searchMatches li {
	display:block;
	width:170px;
	overflow:visible;
	white-space: nowrap;
}
.searchStatus {
	position:relative;
	display:block;
	width:100%;
	height:auto;
}
.searchStatus span {
	font-size:92%;
}

.searchclose {
	position:absolute;
	bottom:1px;
	right:1px;
}

.debugtabmain {
	display:block;
	position:absolute;
	background-image: url(dbg_tab_bg_1.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	margin-left:5px;
	margin-right:6px;
	height:26px;
	right:40px;
	bottom:0px;
	font-size:107%;
	padding-left:16px;
	padding-right:16px;
	line-height: 26px;
}

.debugtabmain span {
	line-height: 26px;
}

.debugtableft {
	background-image: url(dbg_tab_l_1.gif);
	position:absolute;
	display:block;
	top:0px;
	left:-5px;
	width:5px;
	background-position: left top;
	height:100%;
}
.debugtabright {
	background-image: url(dbg_tab_r_1.gif);
	position:absolute;
	display:block;
	top:0px;
	right:-6px;
	width:6px;
	background-position: right top;
	height:100%;
}

.itemlist li {
		m: expression(
				this.onmouseover =  new Function("this.className = 'hover';"),
				this.onmouseout= new Function("this.className = '';")
	);
}
.itemlist {
	position:absolute;
	display:none;
	background-color:rgb(241,240,237);
	border:2px solid rgb(213,213,213);
	border-bottom:0px;
	overflow:hidden;
	z-index:2;
}
.itemlist li {
	text-align:left;
	padding-left:19px;
	padding-right:4px;
	width:100%;
	cursor:pointer;
}
.itemlist li:hover, .itemlist li.hover {
	font-weight:bold;
	background-color:#d0d0d0;
}
.itemcount {
	padding-left:4px;
}
.debugdebug {
	padding-right:4px;
}

.librarymodule:hover {
    font-weight:bolder;
}

.librarymodule {
	display:block;
	position:relative;
    cursor:move;
	height:18px;
	width:100%;
	z-index:1;
	margin-bottom:1px;
	white-space: nowrap;
	cursor:move;
	overflow:hidden;
}

.librarymodulecontent {
	display:block;
	position:relative;
	text-align : left;
	font-size:100%;	
	line-height: 18px;
	margin-left:5px;
	margin-right:19px;
	background-image: url(drg_bg_1.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	height:100%;
}

.librarymoduleleft {
	background-image: url(drg_l_1.gif);
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	width:5px;
	background-position: left top;
	height:100%;
	z-index:2;
}
.librarymoduleright {
	background-image: url(drg_r_6.png);
	position:absolute;
	display:block;
	top:0px;
	right:0px;
	width:19px;
	background-position: right top;
	height:100%;
	z-index:2;
	cursor:pointer;
}
.librarymodulefade {
	background-image: url(drg_crop_1.png);
	position:absolute;
	display:block;
	top:1px;
	right:19px;
	width:49px;
	background-position: right top;
	height:16px;
	z-index:3;
}

input[type=text], .htmlplusinput {
	border:1px solid #c5c5c5;
	padding:1px;
	width:120px;
	cursor: text;
}
input[type=text]:focus, .htmlplusinput:focus {
	border:2px solid #25a3fc;
	padding:0px;
}
textarea {
	border:1px solid #c5c5c5;
	padding:1px;
	cursor: text;
}
textarea:focus {
	border:2px solid #25a3fc;
	padding:0px;
}

.openpipe a {
	cursor:pointer;
	color:navy;
}
.openpipe a:hover {
	text-decoration: underline;
}

.updating {
	z-index:901;
	background-color:#f0f0f0;
	position:absolute;
	display:block;
	color:#808080;
	font-style:italic;
	text-align: center;
	border:1px dashed #808080;
}




.tooltipholder {
	height:auto;
	display:block;
	position:absolute;
	width:168px;
}

.tooltipholder div {
	z-index:2;
}

.tooltipheader {
	display:block;
	position:relative;
	width:167px;
	height:0px;
	border-top:1px solid rgb(200,200,200);
}

.tooltipbody {
	width:168px;
	display:block;
	position:relative;
	height:auto;
	padding:8px;
	zoom:1;
	background-image: url(tip_bg_1.png);
	background-position: top left;
	background-repeat: repeat-y;
}

.tooltipfooter {
	width:168px;
	display:block;
	position:relative;
	background-image: url(tip_b_1.png);
	background-repeat: no-repeat;
	background-position:bottom left;
	height:4px;
}

.tooltiparrow {
	display:block;
	position:absolute;
	width:21px;
	height:16px;
	background-image: url(tip_aro_1.png);
	background-repeat: no-repeat;

}

.tooltipbody iframe {
	border:0;
	display:block;
	position:relative;
	zoom:1;
	height:1px;
	width:152px; /* tooltipwidth - 2*padding */
}

.goback {
	padding:4px;
}
.goback a {
	color:#007def;
	font-size:99%;
	text-decoration: none;
}
.goback a:hover {
	text-decoration: underline;
}

input {
	width:auto;
	font-size:100%;
}

select {
	font-size:100%;
}
textarea {
	font-size:100%;
}

input.textinput {
	width:120px;
}
input.radio {
        width:auto;
}
input.locationinput {
	width:120px;
}
input.numberinput {
	width:40px;
}
input.urlinput {
	width:200px;
}
input.datetimeinput {
	width:100px;
}
select.fieldinput {
	width:140px;
}

.status {
	position:absolute;
	display:none;
	left:100%;
	margin-left:8px;
	text-decoration:none;
	list-style:none;
	width:500px;
	color:black;
	height:18px;
	background-color:transparent;
}
.statusborder {
	background-color:rgb(202,229,242);
	float:left;
}
.statusleft {
	left:0px;
	margin-top:1px;
	height:16px;
	width:1px;
}
.statustitle {
	padding-right:16px;
	font-weight:bolder;
}
.statusbody {
	padding-left:32px;
	padding-right:32px;
	left:1px;
	width:auto; /*282*/
	height:18px;
	line-height:18px;
}	
.statusright {
	left:0px;
	margin-top:1px;
	height:16px;
	width:1px;
}

.status a {
	cursor:pointer;
	color:#007def;
	text-decoration:none;
}
status a:hover {
	text-decoration:underline;
}

.helparea {
	width:100%;
	height:100px;
	/*padding-top:4px;*/
	display:block;
	background-color:rgb(255, 255, 255); /* use rgb rather than "white" so that yui can animate colors using it */
}

.helparea iframe {
	width:100%;
	height:100%;
	background-color:transparent;
}

.helpcontainer {
	width:100%;
	height:100%;
	overflow:auto;
}
.module_help {
	padding:10px 5px 5px 5px;
    text-align:left;
    background-color:transparent;
}
.module_help p {
	margin-top:4px;
    font-size: 85%;
}
.module_help a {
	color:#007DEF;
	text-decoration:none;
}
.module_help a:hover {
	text-decoration:underline;
}
.module_help h1 {
	font-weight: bold;
}
.module_help .category {
	display:none;
}
.module_help .example {
	font-size: 85%;
}
.module_help .example .exampleDescription {
	display:none;
}
.module_help .author {
	font-size:85%;
}

.module_featured  {
	text-align: left;
	padding: 5px 5px 0px 5px;
	width:331px;
	max-height:400px;
}

.module_featured  h1 {
	font-size: 100%;
	font-weight: bold;
	padding: 5px 0 8px;
}

.module_featured h2 {
	font-weight: bold;
}

.module_featured p {
	font-size: 92%;
	padding-bottom: 6px;
}

.module_featured a, a:visited {
	color:#007def;
	text-decoration:none;
}
.module_featured a:hover {
	text-decoration:underline;
}
.module_featured ul {
	padding-bottom: 6px;
}

.errorlist {
	position:relative;
	display:block;
	background-color: white;
	margin:4px;
	border:2px solid rgb(212,212,212);
}
.errorlist li {
	display:block;
	position:relative;
	margin:2px;
}

.errorlist span {
	padding-left:4px;
}

.errorlist img {
	width:14px;
	height:14px;
	vertical-align:middle;
}

.fatal img {	
	background-image:url(icon_error_med.gif);
}
.warning img {
	background-image:url(icon_warning_med.gif);
}

.enhancedtarget {
	font-family:monospace;
	font-size:12px;
	cursor:pointer;
	/*dbg_aro_d_nrm_1.gif*/
	background:#c5c5c5 url(nav_aro_r_1.png) no-repeat scroll 0px 50%;
	border:1px solid #c5c5c5;
	padding-bottom:1px;
	padding-top:3px;
}
.enhancedtarget:hover {
	border:1px solid #25a3fc;
	background-color:#45c3ff
}

.enhancedtarget.active {
	cursor:pointer;
	background:#25a3fc url(nav_aro_d_1.png) no-repeat scroll -2px 50%;
	border:1px solid #25a3fc;
}

.enhancedarea {
	border:2px solid #25a3fc;
	background-color:white;
	cursor:pointer;
	z-index:1000;
	font-family:arial,helvetica,clean,sans-serif;
}

.enhancedarea li {
}
.enhancedarea .odd {
	background-color:#f0f0f0;
}
.enhancedarea .disabled {
	color:#c0c0c0;
	cursor:default;
	cursor:not-allowed;
}
.enhancedarea .prefix {
	color:#707070;
}
.enhancedarea .selected, .enhancedarea .odd.selected {
    background-color:orange;
}
.enhancedarea li:hover {
	background-color:#25a3fc;
}
.enhancedarea li.disabled:hover {
	background-color:inherit;
}
.enhancedarea ul {
    width:100%;
    display:block;
    position:relative;
}


.subkey {
	color:#707070; /*inactivecaptiontext; good for firefox */
	/* background-color:buttonface; good for firefox */
	background-color:#f0f0f0;
}

/*enhancedarea yui-calcontainer single*/

.yui-calcontainer {
	padding:0px;
}

.yui-calendar td.calcell {
	padding:0px;
	font-size:92%;
}

.indent {
	padding-left:16px;
}

.textinput.narrow {
    width: 40px;
}

.favico {
	vertical-align: middle;
}

.htmlsubkey a {
	color:#606060;
}
.htmlsubkey a.selected {
	color:navy;
}

.htmlholder {
	border:1px solid #aaaaaa;
	padding:2px;
	position:relative;
	width:90%;
	margin-bottom:10px;
	background-color: white;
	display:block;
	font-weight:normal;
}

.htmlholder.source {
	border:1px solid #707070;
}

.htmlholder.unselected {
	display:none;
}

.textholder {
	font-weight:normal;
	border:1px solid #aaaaaa;
	padding:2px;
	position:relative;
	width:90%;
	margin-bottom:10px;
}

label.yqlLabel {	
	display:block;
	width:290px;
	position:relative
}

a.tryinconsole {
	position:absolute;
	right:5px;
	color:#007DEF;
	text-decoration:underline;
	cursor:pointer
}

img.expandme {
    cursor:pointer;
    background : url(lstadd_btn_nrm_2.png) no-repeat;
    vertical-align:middle;
}

img.closeme {
    cursor:pointer;
    background : url(lstdel_btn_nrm_2.png) no-repeat;
    vertical-align:middle;
}

div.mediahide {
    height:0px;
	width:0px;
	overflow:hidden;
	zoom:1;
}

div.mediashow {
    height:auto;
    width:auto;
    overflow:auto;
	zoom:1;
}

.changeEngine {
	color: #007DEF;
	text-decoration: none;
	cursor: pointer;
	display:none;
}


      