# Maven #
/target/

# Eclipse #
/.classpath
/.factorypath
/.metadata
/.project
/.settings/

# IntelliJ IDEA #
/.idea/
/*.iml

# NetBeans #
nb-configuration.xml

# Misc #
*.swp
/app/ImageJ.app/
/scripts/
