Barry DeZonia <bdezonia@wisc.edu> <bdezonia@potato.(none)>
Barry DeZonia <bdezonia@wisc.edu> <patron@dyn-72-33-177-16.uwnet.wisc.edu>
ImageJ Jenkins <jenkins@imagej.net> <jenkins@dev.loci.wisc.edu>
Johannes Schindelin <johannes.schindelin@gmx.de>
Mark Hiner <hiner@wisc.edu> <hinerm@gmail.com>
