# A collection of single-shot plugins for fiji

Image>Drawing, "Radial Gradient", fiji.drawing.Radial_Gradient
Image>Selection, "Make rectangular selection rounded", fiji.selection.Rounded_Rectangle

# Radial_Reslice
Image>Stacks, "Radial Reslice", fiji.stacks.Radial_Reslice

# Dynamic_Reslice, implement Reslice command, but auto-update when ROI is moved   
Image>Stacks, "Dynamic Reslice", fiji.stacks.Dynamic_Reslice

Edit>Selection, "Fit Circle to Image", fiji.util.Circle_Fitter

Help, "Upload Sample Image", fiji.util.Fiji_Uploader

Test, "Abstract PlugIn Test", test.Example_PlugIn
