# Name: Image5D

# Author: Joachim Walter
# Version: 1.1.7
# Date: 2006/04/18
# Requires: ImageJ 1.37b

Plugins>Image5D, "New Image5D", New_Image5D("")
Plugins>Image5D, "Open Image5D", Open_Image5D("")
Plugins>Image5D, "Save Image5D", Save_Image5D("")
Plugins>Image5D, "Open Series As Image5D", Open_Series_As_Image5D("")
Plugins>Image5D, "Virtual Image5D Opener", Virtual_Image5D_Opener("")
Plugins>Image5D, "Hypervolume Opener", Hypervolume_Opener("")

Plugins>Image5D, " ", Spacer_Image5D("")

Plugins>Image5D, "Stack to Image5D", Stack_to_Image5D("")
Plugins>Image5D, "RGB to Image5D", RGB_to_Image5D("")
Plugins>Image5D, "Image5D to Stack", Image5D_to_Stack("")

Plugins>Image5D, "  ", Spacer_Image5D("")

Plugins>Image5D, "Duplicate", Duplicate_Image5D("")
Plugins>Image5D, "Set Position", Set_Position("")
Plugins>Image5D, "Set Channel Display", Set_Channel_Display("")
Plugins>Image5D, "Set Channel Labels", Set_Channel_Labels("")

Plugins>Image5D, "   ", Spacer_Image5D("")

Plugins>Image5D, "Make Montage", Make_Montage("")
Plugins>Image5D, "Z Project", Z_Project("")
Plugins>Image5D, "Image5D Stack to RGB", Image5D_Stack_to_RGB("")
Plugins>Image5D, "Transfer Channel Settings", Transfer_Channel_Settings("")

Help>About Plugins, "Image5D...", I5D_about("about")

#Plugins>Image5D, "Image5D test", Image5D_test("")
#Plugins>Image5D, "Add Empty Channel", Add_Empty_Channel("")